.app{
  background-color: white;
  min-height: 80vh;
  width: 420px;
  margin: 20px auto;
}
body {
  background-color: #FFBE98;
}

.date_time{
  display: flex;
  justify-content: center;
  align-items: center;
}
.time {
margin: 10px;
font-size: 20px;
color: #A0153E;
font-style: bold;
}
.time1 {
  margin: 10px;
  font-size: 22px;
  color: #A0153E;
  font-style: bold;
  }
h2{
  font-size: 20px;
  color: #FF204E;
}
input{
 width: 80%;
  padding: 8px;
  margin: 5px;
  border: 2px solid #FFB38E;
  font-size: 14px;
  }
label{
  margin-left: 5px;
  font-size: 12px;
  margin-right: 5px;
}
ul, li {
  list-style-type: none;
  padding: 10px;
  margin: 0;
  }

.crossed {
  text-decoration: line-through 2px red;
  background-color: #f0f0f0;
}
.heading{
  display: flex;
  justify-content: center;
  color: #C68484;
  font-family: "PT Serif Caption", serif;
}
.container{
  display: flex;
  justify-content: center;
}
.add{
  background: #9B4444;
  margin-top: 5px;
  border-radius: 5px;
  }
.btn{
    border: none;
    padding: 10px;
    color: white;
    font-size: 16px;
    font-family: "Montserrat", sans-serif;
    width: 70%;  
  } 
  .btnDel{
    border: none;
    padding: 5px;
    margin-left: 10px;
    font-size: 14px;  
  }